{lib_dirs,["/usr/lib/elixir/lib",
           "/run/media/riza/DATA/Documents/FunProjects/elixir/phoenix-jobs-part-4/_build/prod"]}.

{release,{phoenix_jobs_four,"0.0.1"},
         [{phoenix_jobs_four,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/phoenix_jobs_four"},
          {copy,"/run/media/riza/DATA/Documents/FunProjects/elixir/phoenix-jobs-part-4/_build/prod/consolidated",
                "lib/consolidated"}]}.

